<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">


    <style>
        body {
            background-color: #33383d;
            color: white;
        }

        .divPerfil {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px;
        }

        .divProduto {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 20px;
            padding: 20px;
            border: 1px solid rgba(0, 0, 0, 0.199);
            box-shadow: 10px 1px 10px rgba(0, 0, 0, 0.336);
        }

        .form {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .butaProduto {
            border: none;
            padding: 20px;
            height: 20px;
            display: flex;
            margin: auto;
            margin-top: 20px;
            align-items: center;
            background-color: rgb(144, 240, 144);
            color: white;
        }

        .photo {
            width: 20%;
            height: 20%;
            border-radius: 10px;
        }


        .login {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            border: 1px solid rgba(41, 41, 41, 0.425);
            width: 100%;
            border-radius: 10px;
        }

        .input {
            width: 100%;
            padding: 5px;
            border-radius: 10px;
            margin: 5px;
            border: 0.5px solid rgba(51, 51, 51, 0.548);
        }


        .submit {
            padding: 5px;
            border: none;
            position: relative;
            left: 50%;
            margin-top: 10px;
            margin: auto;
            background-color: rgb(79, 228, 123);
            color: white;
        }
       


        .submit2 {
            padding: 5px;
            border: none;
            position: relative;
            border-radius: 10px;
            margin-top: 10px;
            margin: auto;
            background-color: rgb(113, 184, 113);
            color: white;
        }

        .input:hover {
            padding: 7px
        }

        .submit:hover {
            padding: 8px;
          background-color: rgb(79, 228, 123);
            color: rgb(82, 81, 81);
        }

        a {
            text-decoration: none;
        }

        .postagem {
            width: 60%;
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px;
            margin-top: 20px;
            border: 1px solid rgba(230, 230, 230, 0.37);
            border-radius: 10px;
            box-shadow: 2px 1px 5px 2px rgba(73, 73, 73, 0.452);

        }

        .photo {
            margin: 20px;
        }

        .curtir {
            background-color: rgb(101, 101, 206);
        }

        .curtir:hover {
            background-color: rgb(115, 115, 209);
            padding: 10px;
        }

        .comentar {
            background-color: rgb(228, 168, 78);
        }

        .comentar:hover {
            background-color: rgb(230, 174, 92);
            padding: 10px;
        }

        .comprar {
            background-color: rgb(80, 161, 55);
        }
         .comprar:hover {
            background-color: rgb(92, 165, 70);
            padding: 10px;
        }
    </style>
</head>

<body>
    {{{body}}}


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"
        integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT"
        crossorigin="anonymous"></script>

</body>

</html>